*
{
    overflow-x: hidden;
}
.menu ul li a
{
    text-decoration: none;
    color: black;
    margin: 50px;
}

.menu ul 
{
    list-style: none;
    font-size: 25px;
    display: flex;
    text-align: center;
}

.menu 
{
   display: flex;
   place-content: center;
   border: 1px solid black;
}

.logo img 
{
    width: 4em;
    height: 4em;
    margin-left: 20em;
    position: absolute;
}

main h2 
{
    margin-top: -50px;
    position: absolute;
}
/* busca detalhada */
.busca img 
{
    width: 3em;
    height: 3em;
}
.busca span 
{
    font-size: 24px;
    padding: 4px;
}

.busca 
{
    display: flex;
    flex-direction: row-reverse;
}


.boasvindas
{
    margin: 0 auto;
    justify-content: center;
    border: 1px solid black;
    text-align: center;
    border-radius: 20px;
    width: 80em;
    margin-top: 5em;
}
.boasvindas p
{
    font-size: 23px;
    word-spacing: 8px;
    padding: 20px;
}


/* catalogo dos animais */
.catalogos 
{
    display: grid;
    grid-template-columns: 480px 480px 480px 480px;
    place-items: center;
    margin-right: 35px;
}
.catalogos img
{
    width: 25em;
    height: 18em;
}


.catalogo span 
{
    font-size: 24px;
}
.catalogo 
{
    margin-top: 20px;
    text-align: center;
}